@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&family=Zen+Dots&family=Jost:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

@import "tailwindcss";

@theme {
    --font-zen: "Zen Dots", "sans-serif";
    --font-urban: "Urbanist", "sans-serif";
    --font-sen: "Sen", "sans-serif";
    --font-jost: "Jost", "sans-serif";
}

@layer components {
    .button-renext {
        @apply cursor-pointer px-6 py-2 text-lg font-sen bg-gray-100 rounded-md disabled:text-gray-400 select-none disabled:cursor-not-allowed
    }
}