@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&family=Zen+Dots&family=Jost:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

@import "tailwindcss";

@theme {
    --font-zen: "Zen Dots", "sans-serif";
    --font-urban: "Urbanist", "sans-serif";
    --font-sen: "Sen", "sans-serif";
    --font-jost: "Jost", "sans-serif";
}

@layer components {
    .button-renext {
        @apply cursor-pointer px-6 py-2 text-lg font-sen bg-gray-100 rounded-md disabled:text-gray-400 select-none disabled:cursor-not-allowed
    }

    .submit {
        @apply cursor-pointer px-6 py-2 text-lg font-sen bg-gray-100 rounded-md disabled:text-gray-400 select-none disabled:cursor-not-allowed bg-green-500 text-white hover:bg-green-400
    }

    .main {
        @apply h-full min-h-[84vh] flex flex-col items-center justify-center gap-3
    }

    .cross {
        @apply font-jost text-[10px] flex justify-center items-center text-center absolute bg-red-500 text-white py-0.5 px-1.5 rounded-full -right-[12px]
    }

    .tick {
        @apply font-jost text-[10px] absolute bg-green-500 text-white py-0.5 px-1.5 rounded-full -right-2.5
    }

    .landing-button {
        @apply font-sen text-2xl px-4 py-3 bg-gray-200 rounded-md cursor-pointer hover:bg-gray-100 transition-colors
    }
}